requests
json
time
streamlit_authenticator 
pickle
matplotlib.pyplot 
streamlit 
pandas 
numpy 
yfinance 
plotly.express 
bcrypt
plotly.graph_objs
plotly.graph_objects 
altair 
random
string
uuid  # Import the uuid library
hashlib
firebase_admin
datetime
timedelta
date
Image
ImageDraw
st_lottie
npv
Translator
LANGUAGES
Translator
pipeline
CurrencyRates
getQuotes
get_calendar
BeautifulSoup
credentials
firestore
auth